<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Austin Housing Data</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/solar/bootstrap.min.css", rel="stylesheet">
    <link href="./static/css/static.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LOGO</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/works_cited">Works Cited</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- add spacing -->
    <br/>

    <!-- Dashboard -->
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Austin Housing Dashboard</h1>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <label for="min_year_built">Min Year Built</label>
                <input type="number" value="10" id="min_year_built_filter">

                <button id="filter">Filter!</button>
            </div>
            <div class="col-md-6">
                <p>Use the filter to pick a year to see the data on houses built since that year.</p>
            </div>
        </div>
        <hr/>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div id="bar_chart_garage"></div>
            </div>
            <div class="col-md-5">
                <div id="bar_chart_heat"></div>    
            </div>
        </div>
        <br/>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div id="line_graph"></div>    
            </div>
        </div>
        </div>
        <hr/>

     <br/>
     <br/>

    <script src="./static/js/app.js"></script>
</body>

</html>
