<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Austin Housing Dashboard</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/solar/bootstrap.min.css", rel="stylesheet">
    <link href="./static/css/static.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LOGO</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/works_cited">Works Cited</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- add spacing -->
    <br/>

    <!-- Work Cited -->
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Works Cited</h1>
            </div>
            <div class=""row>
                <div class="col-md-12">
                    <h2>Dataset</h2>
                    <a href = "https://www.kaggle.com/datasets/ericpierce/austinhousingprices" target = "_blank">Austin Housing Dataset</a>
                </div>
                <br/>
                <div class="col-md-12">
                    <h2>GitHub Repository</h2>
                    <a href = "https://github.com/neydamorales/project-3-group-7" target = "_blank">GitHub Repository</a>
                </div>
                <br/>
                <div class="col-md-12">
                    <h2>Inspiration</h2>
                    <a href = "https://www.kaggle.com/code/qianhuizheng/zillow-price-prediction/notebook" target = "_blank">Zillow Price Prediction</a>
                </div>
                <div class="col-md-12">
                    <a href = "https://www.kaggle.com/code/titanslayer2746/house-prices-prediction/notebook" target = "_blank">Housing Price Prediction</a>
                </div>
            </div>
        </div>
     </div>



     <br/>
     <br/>
</body>

</html>